/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
}

/* Style the search bar */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #ffffff; /* Background color for the search bar */
  border-radius: 5px;
  padding: 10px; /* Increased padding for better spacing */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border: 1px solid #eaeaea; /* Lighter border color */
}

/* Style the search input field */
.search-input {
  flex: 3; /* Adjust flex basis as needed */
  display: flex;
  align-items: center;
}

.search-input input {
  flex: 1;
  padding: 9px;
  font-size: 14px;
  border: none;
  border-top: 1px solid #b4b4b4; /* Add a grey right border */
}

/* Style the location input field */
.location-input {
  flex: 2; /* Adjust flex basis as needed */
  display: flex;
  align-items: center;
  border: none; /* Remove the border */
}

.location-input input {
  flex: 1;
  border: none;
  padding: 10px; /* Adjust padding as needed */
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the location icon */
.location-icon {
  padding: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

/* Style the date input field */
.date-input {
  flex: 2; /* Adjust flex basis as needed */
  display: flex;
  align-items: center;
  border: none; /* Remove the border */
}

.date-input input[type="date"] {
  flex: 1;
  padding: 10px; /* Adjust padding as needed */
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: gray;
  border-left: 1px solid #b4b4b4; /* Add a bottom border for the divider */
  outline: none; /* Remove the input outline */
}

.date-icon {
  padding: 10px;
  cursor: pointer;
  background-color: dodgerblue; /* Background color for the icon */
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

.event-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
  width: calc(33.33% - 1px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #eaeaea; /* Lighter border color */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin-top: 0;
}

.event-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .event-card {
    width: calc(50% - 1px); /* Display two cards per row on medium screens */
  }
}
